@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using EasyAbp.FileManagement.Localization
@inject IHtmlLocalizer<FileManagementResource> L
@model Aqt.CoreFW.Web.Pages.FileManagement.UploadModalModel
@{
    Layout = null;
    var allowedFileExtensionsJsCode = Model.Configuration.AllowOnlyConfiguredFileExtensions ? Model.GetAllowedFileExtensionsJsCode() : "null";
}
<form asp-page="UploadModal" id="UploadForm">
    <abp-modal>
        <abp-modal-header title="@L["UploadFile"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="FileContainerName" />
            <abp-input asp-for="OwnerUserId" />
            <abp-input asp-for="ParentId" />
            <input asp-for="UploadedFiles" type="file" multiple id="file" data-preview-file-type="text" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>